*{margin:0;padding:0; font-size:24px;color:#444;}
ul,li{list-style-type:none;}
li:nth-child(even){padding:0}
input{border:1px solid #666;outline:none;height:32px;padding:3px 5px;}
.demoform{margin:60px auto 0;border:1px solid orange;padding:28px;width:500px;}
li{padding-bottom:18px;text-align:center;}
span{display: inline-block;width:120px;text-align:left;}
.btn{margin:20px auto 0;border:none;width:100px;padding:0;height:36px;
    background:orange;color:#fff;font-size:30px;}
input[type=radio]{
    margin:0 82px 0 10px;padding:0; width:22px;height:22px;border-radius:50%;vertical-align:-3px;
}
.red{
    border:1px solid orangered;color:orangered;
}
.Validform_checktip{
    height:30px;
    line-height:30px;
    font-size:16px;
    color:orange;
}
.Validform_right{
    color:darkblue;
}